{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class= "container mt-5">
    <h1 class= "text-warning mb-5 border=bottom">Services</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-regular fa-keyboard fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-python fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>Python</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-aws fa-2x mb-3 i-color"></i>
            <h3>AWS</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-phoenix-framework fa-2x mb-3 i-color"></i>
            <h3>Django</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-github fa-2x mb-3 i-color"></i>
            <h3>Git</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-docker fa=2x mb-3 i-color"></i>
            <h3>Docker</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>

        <div class="col-sm-4">
            
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h3>Sql</h3>
            <p class = "ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus.</p>
        </div>
    </div>
</div>



{% endblock content %}